{% extends "includes/base.html" %}

  {% load custom_markdown %}

  {% block header %}
      <div class="header">
          <h1><code>Tags</code></h1>
      </div>
  {% endblock %}

    {% block content %}
    <div class="col-sm-12 blog-main">
      {% if object_list %}
        {% for post in object_list %}
          <div class="post">
            <div class="row">
              <div class="col-sm-12">
                <!-- <span class="pull-left"> -->
                  <h2>
                    <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                  </h2>
                <!-- </span> -->
              </div><!-- /.col-sm-12-->
            </div><!-- /.row-->

            <div class="row">
              <div class="col-sm-12">
                <p>
                  <small>
                    {{ post.pub_date }}
                    <span class="h3">
                      {% if post.category %}
                        <a href="{{ post.category.get_absolute_url }}"><span class="label label-default">{{ post.category.name }}</span></a>
                      {% endif %}
                    </span>
                    <br>
                    {{ post.text | custom_markdown | truncatechars_html:159 }}

                    <span class="h4">
                    {% for tag in post.tags.all %}
                      <a href="{{ tag.get_absolute_url }}"><span class="label label-warning">{{ tag.name }}</span></a>
                    {% endfor %}
                    </span>
                  </small>
                </p>
              </div><!-- /.col-sm-12-->
            </div class="row"><!-- /.row-->
          </div><!-- /.post-->
        {% endfor %}
      {% else %}
        <div class="col-sm-12">
          <p>Tag not found, sorry no coresponding posts found</p>
        </div><!-- /.col-lg-12-->
      {% endif %}

      <div class="col-sm-12 text-center">
        <span>
          <hr>
        <ul class="pager">
          {% if page_obj.has_previous %}
          <li><a href="/blog/tag/{{ tag_name }}/{{ page_obj.previous_page_number }}/"><span aria-hidden="true">&larr;</span> Prev</a></li>
          {% else %}
          <li class="disabled"><a href=""><span aria-hidden="true">&larr;</span> Prev</a></li>
          {% endif %}
          {% for page in page_obj.paginator.page_range %}
              <li class=" {% if page_obj.number == page  %} active {% endif %} "><a href="/blog/tag/{{ tag_name }}/{{ page }}">{{ page }}</a></li>
          {% endfor %}
          {% if page_obj.has_next %}
          <li><a href="/blog/tag/{{ tag_name }}/{{ page_obj.next_page_number }}/">Next <span aria-hidden="true">&rarr;</span></a></li>
          {% else %}
          <li class="disabled"><a href="">Next <span aria-hidden="true">&rarr;</span></a></li>
          {% endif %}
        </ul>
        </span>
      </div><!-- /.col-lg-12-->

    </div><!-- /.col-sm-12-->

    {% endblock %}
