{% extends "includes/base.html" %}
{% load crispy_forms_tags %}

    {% load custom_markdown %}

    {% block header %}
        {% if user.is_authenticated %}
        <div class="header">
            <h1><code>AUTHENTICATED</code></h1>
        </div>
        {% else %}
        <div class="header">
            <h1><code>BLOCKED</code></h1>
        </div>
        {% endif %}
    {% endblock %}

    {% block content %}
    <div class="col-sm-6 col-sm-offset-3">
        <div id="lockout-message">
        <center>
            {% if user.is_authenticated %}
            <h3>
            <a href="https://www.google.com/search?q=flash">
              <i class="glyphicon glyphicon-flash"></i>
            </a>
            </h3>
            <br>
            <h3>
            Authenticated
            </h3>
            {% else %}
            <h3>
            <a href="https://www.google.com/search?q=restricted">
              <i class="glyphicon glyphicon-lock"></i>
            </a>
            </h3>
            <br>
            <h3>
            Restricted
            </h3>
            {% endif %}
        </center>
        </div>
      </div><!--/.col-sm-12 -->
    {% endblock content %}
