[run]
relative_files = True
source=
    .
    ./src/blogengine/*
    ./src/accounts/*

omit=
    venv/*
    virtualenv/*
    lib/*
    bin/*
    */tests/*
    */migrations/*
    */urls.py
    */settings/*
    */wsgi.py
    */passenger_wsgi.py
    */manage.py
    fabfile.py
