{% extends "includes/base.html" %}

  {% load custom_markdown %}

  {% block header %}
    <div class="container-fluid landing-header">
        <div class="header-caption background-caption">
            <div class="header">
                <h1><code>Hello, World!</code></h1>
            </div>
        </div><!-- /.carousel-caption -->
    </div>
  {% endblock %}

    {% block content %}
        <h3 class="content_body">
          Engineer, Software Architect, Technology & Art Consultant
        </h3>
    {% endblock %}
